body { background: #8d9ee4; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-sms-0 { color: #16111a; font-size: 12px; margin-bottom: 5px; }
.block-logger-1 { color: #99c60; font-size: 19px; margin-bottom: 5px; }
.block-order-2 { color: #ee9ad; font-size: 16px; margin-bottom: 5px; }
.block-helper-3 { color: #c01f75; font-size: 21px; margin-bottom: 5px; }
.block-metrics-4 { color: #1f47fa; font-size: 19px; margin-bottom: 5px; }